body{
    margin-top: 120px;
   background-image: url(background.png);
    color:black;
}
.flex1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: wheat;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(background.png);
}
.topnev{
    justify-content: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: 30px;
}
#top{
    color: black;
    border: black solid 2px;
    border-radius: 20px;
    font-size: 12px;
    padding: 7px;
    margin-top: 3px;
}
#top:hover{
    color: red;
}
.active{
    background-color: black;
    color: white;
    border: black solid 2px;
    border-radius: 20px;
    font-size: 12px;
    padding: 7px;
}
.active:hover{
    color: red;
}
img{
    margin-left: 80px;
    margin-top: 10px;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img{
float: right;
margin-right: 20px; 
}
.dp{
    border: black solid 5px;
    border-radius: 50%;
}
#about{
    text-align: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#ab{
    font-size: 30px;
    font-variant: small-caps;
    margin: 30px 30px;
}
.hey{
    font-size: 100px;
}
.abhi{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.flex3{
    justify-content: center;
    flex-wrap: wrap;
}
p{
    font-size: 20px;
    text-align: center
}
.contactus{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
#contact{
   font-style: italic;
    color: rgb(16, 2, 2);
    font-size: 40px;
}
.co{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
}
.flex4{
    border: 5px double black;
    border-radius: 20%;
    margin: 200px 200px;
    padding: 50px;
}
.sk{
    border: red 2px solid;
   background-color: black;
    list-style-type: none;
    height: 60px;
    width: 200px;
    font-size: 45px;
    margin: auto;
}
#skill{
    text-align: center;
    text-decoration: underline;
}
.form{
    border: black 3px solid;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    background-image: url(background3.jpg);
}
li{
    color: wheat;
    margin-left: 5px;
}
.input{
    border: red 2px solid;
    border-radius: 20px;
    background-color: wheat;
    color:black;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;
}
.la{
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}
.query{
    font-style: italic;
    color: rgb(16, 2, 2);
    font-size: 40px;
    text-decoration: double;
}
.submit{
border: black 2px solid;
background-color: red;
color: black;
float: right;
margin: 5px 18px 8px;
}
.submit:hover{
    background-color: blueviolet;
    color: antiquewhite;
}
.flex5{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(min-width:320px) and (max-width:480px)
{
body{
        background-image: url(background3.jpg);
    }
.flex1{
    background-image: url(background3.jpg);
}
.flex4{
    border: 5px double black;
    border-radius: 20%;
    margin: auto;
    padding: 50px;
}
.form{
    margin: 60px;
}
.contactus{
    margin-right: 20px;
}
.dp{
    margin-right: 40px;
}
}
@media(min-width:481px) and (max-width:768px){
    body{
        background-image: url(background3.jpg);
    }
    .flex1{
        background-image: url(background3.jpg);
    }
    .flex4{
        border: 5px double black;
        border-radius: 20%;
        margin: auto;
        padding: 50px;
    }
}
