body{
    margin-top: 100px;
    color: black;
        background-size: 100%;
        background-image: url(background.png);
}
.flex1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(background.png);
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -10px;
}
.topnev{
    justify-content: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: 30px;
}
#top{
    color: greenyellow;
    border:black 3px solid;
    background-color: black;
    font-size: 14px;
    padding: 7px;
    margin-top: 3px;
}
#top:hover{
    color: red;
}
.active{
    background-color: black;
    color: white;
    border: black solid 2px;
    font-size: 14px;
    padding: 7px;
}
.active:hover{
    color: red;
}
img{
    margin-left: 80px;
    margin-top: 10px;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img{
float: right;
margin-right: 20px; 
}
.dp{
    border: white solid 5px;
    border-radius: 50%;
}
#about{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 60px;
   margin-top: 40px;
}
#abb{
    border: black 5px solid;
    padding: 10px;
    border-radius: 20px;
}
#ab{
    font-size: 30px;
    font-variant: small-caps;
    margin: 30px 30px;
}
.hey{
    font-size: 100px;
}
.abhi{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 20px;
    text-align: center
}
.resume{
    text-align: right;
    margin-right: 50px;
}
.download{
    background-color: green;
    color: white;
    border: black solid 2px;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
}
.flex3{
border-radius: 40px;
    transition-duration: 1s;
}
.flex3:hover{
    transform: scale(85%);
    background-color: wheat;
    color: black;
    border: black 2px solid;
}
.containerimages{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}
.images{
    margin-top: 30px;
    height:200px;
    width: 400px;
    border: 5px solid;
    box-shadow: 2px 4px 2px 4px black;
    border-radius: 80px;
    transition-duration: 0.5s;
}
.images:hover{
transform:rotate(10deg);
}
.flex5{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contactus{
    text-align: center;
margin-top: 50px;
font-size: 25px;
}
#contact{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.gif{
    height: 150px;
    width: 150px;
    border: black 2px solid;
    border-radius: 50%;
    margin-top: 40px;
}
.co{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
}
.flex4{
    border: 5px double black;
    color: black;
    border-radius: 20%;
    margin: 120px 200px;
    padding: 50px;
    background-image: url(background.png);
}
.sk{
    border: red 2px solid;
   background-color: black;
    list-style-type: none;
    height: 60px;
    width: 200px;
    font-size: 45px;
    margin: auto;
}
#skill{
    text-align: center;
    text-decoration: underline;
}
.form{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.formIn{
    padding: 30px;
    border: black 5px double;
    border-radius: 30px;
    background-image: url(background.png);
}
#Message{
    font-size: 40px;
    color: blue;
    font-weight: bold;
}
li{
    color: white;
    margin-left: 5px;
    font-size: 200px;
}
.input{
    border: black 2px solid;
    height: 30px;
    width: 400px;
    background-color: wheat;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;
}
.inputt{
    border: black 2px solid;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;
    background-color: wheat;
    color:black;
    width: 400px;
}
.la{
    color: black;
    margin-left: 20px;
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.query{
    font-style: italic;
    color: rgb(16, 2, 2);
    font-size: 30px;
    text-decoration: double;
}
.submit{
border: black 2px solid;
background-color: red;
color: black;
float: right;
margin: 5px 18px 8px;
}
.submit:hover{
    background-color: blueviolet;
    color: antiquewhite;
    cursor: pointer;
}
@media(min-width:320px) and (max-width:480px)
{
body{
    background-image: url(background2.png);
    }
.flex4{
    border: 5px double black;
    border-radius: 20%;
    margin: auto;
    padding: 50px;
}
.form{
   display: block;
   margin-top: 20px;
}
.input{
    height: 12px;
    width: 120px;
}
.inputt{
    width: 90%;
}
.dp{
    margin-right: 40px;
}
.images{
    height:100px;
    width: 200px;
    border: 5px solid black;
    box-shadow: 2px 4px 2px 4px red;
    border-radius: 10%;
    transition-duration: 1s;
    transition-delay: 0.2s;
}
.images:hover{
transform:rotate(10deg);
}
.flex5{
    display:block;
    height: 100px;
    width: 100%;
}
#contact{
margin-left: -10px;
}
.co{
    height: 50px;
    width: 50px;
}
}
